{% extends "OATBundle::layout.html.twig" %}

{% block content %}
<div class="column5 prefix1 topfix1">
    <h2>Onvoldoende vragen</h2>
    <p>Er zijn onvoldoende vragen beschikbaar om een bevraging te starten.</p>
</div>
{% endblock %}