{% extends "OATBundle::layout.html.twig" %}

{% block content %}
<div class="column10 prefix1 topfix1">
    <h2>Feedback</h2>
    
    <p>Help de gebruikerservaring van deze online assessment tool te verbetern door feedback geven.</p>
    
    <p>Mail je feedback naar <strong>bram.cordie@student.khleuven.be</strong> en probeer volgende vragen zeker te beantwoorden:</p>
    
    <ul>
        <li>Wat was je algemene ervaring, is de tool gebruiksvriendelijk?</li>
        <li>Ben je technische of inhoudelijke fouten tegengekomen? i.e.: spellings-fouten of knoppen die niet werken.</li>
        <li>Zijn er punten waar de tool volgens jou duidelijk tekort schiet?</li>
    </ul>

</div>
{% endblock %}